.vs/
.nuget/
packages/
MusicRandomizer3000.Core/bin/
MusicRandomizer3000.Core/obj/
MusicRandomizer3000.WinForms/obj/
MusicRandomizer3000.WinForms/bin/
MusicRandomizer3000.Tests/bin/
MusicRandomizer3000.Tests/obj/
Raccoom.TreeViewFolderBrowser/bin/
Raccoom.TreeViewFolderBrowser/obj/
Raccoom.TreeViewFolderBrowser.DataProviders/bin/
Raccoom.TreeViewFolderBrowser.DataProviders/obj/