.vs/
.nuget/
packages/
FileRandomizer3000.Core/bin/
FileRandomizer3000.Core/obj/
FileRandomizer3000.WinForms/obj/
FileRandomizer3000.WinForms/bin/
FileRandomizer3000.Tests/bin/
FileRandomizer3000.Tests/obj/
Raccoom.TreeViewFolderBrowser/bin/
Raccoom.TreeViewFolderBrowser/obj/
Raccoom.TreeViewFolderBrowser.DataProviders/bin/
Raccoom.TreeViewFolderBrowser.DataProviders/obj/