FileRandomizer3000.Core/bin/
FileRandomizer3000.Core/obj/
FileRandomizer3000.WinForms/obj/
FileRandomizer3000.Tests/bin/
FileRandomizer3000.Tests/obj/Release/FileRandomizer3000.Tests.csproj.FileListAbsolute.txt
FileRandomizer3000.WinForms/bin/
packages/
