<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FileRandomizer3000.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <FileRandomizer3000.WinForms.Properties.Settings>
            <setting name="Step1Settings" serializeAs="String">
                <value/>
            </setting>
            <setting name="Step2Settings" serializeAs="String">
                <value/>
            </setting>
            <setting name="Step3Settings" serializeAs="String">
                <value/>
            </setting>
        </FileRandomizer3000.WinForms.Properties.Settings>
    </userSettings>
</configuration>
